.wrapper {
  .mailbox__header {
    position: fixed;
    height: var(--header-height);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    background-color:var(--sidebar-bg);
  }
  
  &.wrapper--is-pinned-sidebar {

    .mailbox__header {
      .mailbox__header__content {
        padding-right: calc(var(--sidebar-pinned-width) + 24px);
      }
    }

  }

  .mailbox__content {
    padding-top: var(--header-height);
    width: 100%;
  }

  .mailbox__header {
    .mailbox__header__content {
      padding-right: calc(var(--sidebar-width) + 24px);
    }
  }
}

